.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.input-group .form-control {
    height: calc(2.25rem + 2px);
}

.input-group .btn {
    height: calc(2.25rem + 2px);
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
}

.list-group {
    width: 100%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-info {
    flex-grow: 1;
    margin-right: 10px;
}

.list-group-item .text-muted {
    font-size: 0.8rem;
}

.favicon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.date-selector {
    margin-bottom: 1rem;
}